.produto__lista {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100vw;
}

.produto__item {
    padding: 0.5rem;
    width: 9.75rem;
}

.produto__item.tela__grande {
    display: none;
}

@media screen and (min-width: 768px) {
    .produto__lista {
       margin: 1rem 0 3rem 0;
       width: 100%;
    }

}

@media screen and (min-width: 1024px) {
    .produto__item.tela__grande {
        display: inline;
    }
}
