.banner__container {
    color: var(--branco);
    font-family: Raleway;
    position: absolute;
    top: 42%;
    text-align: left;
    padding-left: 1rem;
    line-height:2rem;

}

@media screen and (min-width: 768px) {
    .banner__container {
        top: 45%;
        line-height:4rem;
        padding-left: 2rem;
    }
    
}

@media screen and (min-width: 1024px) {
    .banner__container {
        top: 35%;
        line-height:5rem;
    }
}