.banner__imagem {
    background-image: url('../../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 98vw;
    height: 40vh;
    background-color: var(--preto-claro);
   

}

@media screen and (min-width: 768px) {
    .banner__imagem{
        height: 22rem;
    }
}

@media screen and (min-width: 1024px) {
    .banner__imagem{
        max-height: 22rem;
    }
}