html {
    width: 97%;
}

:root {
    --branco: #FFFFFF  ;
    --azul-fundo: #d2e5ff ;
    --azul: #2A7AE4 ;
    --preto-claro:#A2A2A2 ;
    --cinza: #f5f5f5; 
    --branco2:#fdfdfd;
    --azul-hover:#D4E4FA;
    --bg-color: #ebebeb;
}

body {
    font-family: Raleway, sans-serif;
    background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}

.principal {
    width: 100%;
}






